body{
  background: black;
  color: #CCCCCC;
  width: 50%;
  margin: 20px auto 20px auto;
  border: 5px solid #808080;
  text-align: justify;
  padding: 30px;
  font-family: 'calibri', sans-serif;
  font-size: 18;
  width: 40%;
}



h1{
  /* font-size: 20px; */
  /* color: green; */
  text-align: center;
}
h2{
  /* font-size: 18; */
}

.image-separator{
  background-image: url("logo.jpg");
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 0 auto 0 auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 0;
}

hr{
  margin: 40px 0 40px 0;
}
